



[#if OK#]
	<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]

[#if ERR#]
	<div class="alert alert-danger">Kļūda izpildot komandu</div>
[#endif ERR#]

[#else VIEW_MODE#]
	<div id="api_settings" style="padding: 10px;">
		<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
			<fieldset>
				</div>
				<div class="form-group">
					<label class="control-label">TILDES TTS tikai Latviešu valoda (Latvian language only)</label>
					<div class="col-lg-6">
						<input type="radio" name="disabled" value="0"[#if DISABLED!="1"#] checked[#endif#]><#LANG_ON#>
						<input type="radio" name="disabled" value="1"[#if DISABLED=="1"#] checked[#endif#]><#LANG_OFF#>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
					<input type="hidden" name="view_mode" value="update_settings">
					<input type="hidden" name="mode" value="update">
				</div>
			</fieldset>
		</form>
		<style>
			#emphasis_panel {
				border: #ddd solid 1px;
				margin-top: 25px;
				text-align: center;
				padding: 5px;
				background-color: #f5f5f5;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			#emphasis_panel a:focus {
				outline: none;
			}
			#emphasis_list {
				text-align: center;
				border: #ddd solid 1px;
				padding-top: 20px;
				display: none;
			}
			#emphasis_list p {
				margin: 10px 0 10px 0;
			}
			#emphasis_list form {
				padding: 10px 50px 20px 50px;
			}
			#emphasis_list form table {
				width: 100%;
			}
			#emphasis_list form table tr {
				border: #ddd solid 1px;
			}
			#emphasis_list form table tr.tbl_header {
				background-color: #f5f5f5;
			}
			tr.tbl_header th, tr.tbl_header td {
				text-align: center;
			}
			th.tbl_actions, td.tbl_actions {
				width: 100px;
			}
			th.td_case, td.td_case {
				width: 75px;
			}
			th.td_search_str, td.td_search_str {
				text-align: left;
				padding-left: 5px;
			}
			th.td_replace_str, td.td_replace_str {
				text-align: left;
				padding-left: 5px;
			}
			tr.tbl_item:hover {
				background-color: #eee;
			}
		</style>

	</div>
[#endif VIEW_MODE#]
